# Ignore any generated tables or images
*.png
*.jpg
*.tif
*.csv
*.pyc
*.txt
*.swp
.*

# For now, ignore Matlab files
*.m

# Ignore outputs in the examples directory
examples/nifti*
examples/registration*
